.container {
    border: .1rem solid $color-secondary;
    border-radius: 1rem;

    @media only screen and (max-width: $bp-small) {
   border: none;
   box-shadow: .3rem 2rem 3rem .8rem rgba(0, 0, 0, 0.149);
   

  }
}