.mobil {
  width: 100%;
  position: fixed;
  bottom: 5rem;
  &-nav {
    margin: 0 auto;
    height: 8rem;
    background-color: $color-primary;
    border-radius: 10rem;
    max-width: 90%;

    &-buttons {
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      height: 100%;

      &-icon {
        height: 3rem;
      }
    }
  }
}
