.transaction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.4rem;

  @media only screen and (max-width: $bp-small) {
    aspect-ratio: 1;
  }

  &-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2rem;
    color: $color-tertiary;

    @media only screen and (max-width: $bp-small) {
      margin-bottom: 2.5rem;
      font-size: 2rem;
    }
  }

  &-amount {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 5.5rem;
    line-height: 6rem;
    color: $color-primary-light;
    margin-top: 1.25rem;
    padding: 0.5rem;

    @media only screen and (max-width: $bp-small) {
      margin-top: 1rem;
      margin-bottom: 1rem;
      font-size: 7rem;
    }
  }

  &-period {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 0.8rem;
    margin: 1.4rem;
    margin-bottom: -0.4rem;
    color: $color-secondary-dark;
    text-transform: uppercase;

    @media only screen and (max-width: $bp-small) {
      margin-bottom: -1.5rem;
    }
  }
}
