.transaction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.4rem;

  &-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2rem;
    color: $color-tertiary;
  }

  &-amount {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 4.8rem;
    line-height: 6rem;
    color: $color-primary-light;
    margin-top: 1.25rem;
    padding: .5rem ;
  }

  &-period {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.2rem;
    margin: 1.4rem;
    color: $color-secondary-dark;
  }
}

