@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  transition: all 0.2s;
  scrollbar-width: none; }
  @media only screen and (max-width: 90em) {
    html {
      font-size: 50%; } }

body {
  width: 100%;
  background-color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  line-height: 1.6; }
  body::-webkit-scrollbar {
    display: none; }
    @media only screen and (max-width: 57em) {
      body::-webkit-scrollbar {
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0; } }

button {
  cursor: pointer; }

.app {
  height: 100vh; }

body {
  margin: 0;
  font-family: 'Montserrat';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.container {
  border: 0.1rem solid #E5E5E5;
  border-radius: 1rem; }

.conversion {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .conversion-header {
    width: 100%;
    padding: 3.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .conversion-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 132%;
    color: #333; }
  .conversion-menu {
    height: 100%;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.1rem solid #E5E5E5;
    border-radius: 0.4rem;
    background: none; }
    .conversion-menu_image {
      height: 0.4rem; }
  .conversion-chart {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid hotpink; }
    .conversion-chart_image {
      margin: 5rem;
      width: 100%; }
    .conversion-chart_keys {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: center; }

.dashboard {
  display: flex;
  width: 100vw;
  background-color: #F5F5F5;
  padding: 1.8rem; }
  .dashboard p {
    margin-left: 1.6rem;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2rem;
    letter-spacing: 0.25px;
    color: #000000; }

.expenses {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.header {
  width: 100vw;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  padding: 1.6rem 2.4rem; }
  .header-logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    .header-logo-image {
      height: 2.5rem; }
    .header-logo-text {
      padding: 0;
      margin: 0;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 700;
      font-size: 3rem;
      letter-spacing: 0.025rem;
      text-transform: uppercase;
      color: #4A35C5; }

.key {
  display: flex;
  justify-content: center;
  align-items: center; }
  .key-color {
    width: .8rem;
    height: .8rem;
    border-radius: 50%;
    margin-right: 1.6rem; }

.blue {
  background-color: #007AFF; }

.orange {
  background-color: #FB8832; }

.purple {
  background-color: #9B51E0; }

.main-content {
  margin: 2.4rem 1.6rem;
  padding: 0rem 1.4rem 3rem 1.4rem;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
  column-gap: 2.2rem;
  row-gap: 1.5rem; }

.item-1 {
  grid-row: 1 / span 1;
  grid-column: 1 / span 1; }

.item-2 {
  grid-row: 1 / span 1;
  grid-column: 2 / span 1; }

.item-3 {
  grid-row: 2/ span 3;
  grid-column: 1 / span 2; }

.item-4 {
  grid-row: 1/ span 4;
  grid-column: 3 / span 4; }

.transaction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.4rem; }
  .transaction-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2rem;
    color: #333; }
  .transaction-amount {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 4.8rem;
    line-height: 6rem;
    color: #6979F8;
    margin-top: 1.25rem;
    padding: .5rem; }
  .transaction-period {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.2rem;
    margin: 1.4rem;
    color: #999999; }
